.vs/Duplicate File Finder/xs/UserPrefs.xml
bin/Debug/net6.0/Duplicate File Finder.dll
bin/Debug/net6.0/Duplicate File Finder.pdb
obj/Debug/net6.0/Duplicate File Finder.dll
obj/Debug/net6.0/Duplicate File Finder.pdb
obj/Debug/net6.0/ref/Duplicate File Finder.dll
obj/Debug/net6.0/refint/Duplicate File Finder.dll
